@tailwind base;
@tailwind components;
@tailwind utilities;


/*Global*/
body {
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    color: #1e1e1e;
}
/*Build Form*/

.build-form {
    background-color: hsla(0, 0%, 94%, .88);
}

/**/
.image-slider, .image-slider .slick-list, .image-slider .slick-track {
    height: 712px;
}
.slider-custom-nav .slick-dots button {
    background: #1e1e1e;
    border: none;
    color: transparent;
    height: 14px;
    opacity: .15;
    width: 90px
}
.slider-custom-nav ul.slick-dots {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none
}
.slider-custom-nav .slick-dots .slick-active button {
    background: #f6841f;
    opacity: 1
}
.heading-bottom-border:after {
    background-color: #F6841F;
    content: "";
    display: block;
    height: 7px;
    margin-top: 5px;
    width: 73px;
}
.main-heading h1 {
    font-size: 154px;
    line-height: 180px;
    color: #1e1e1e;
    opacity: 3%;
}
.tabs-section .tab-title.active:after {
    content: "";
    background-color: #F6841F;
    width: 100%;
    height: 6px;
    display: block;
    margin-bottom: -1px;
}
.tabs-section .tab-title.active .tab-title-link {
    color:#F6841F;
}
.tab-slider.slider-custom-nav .slick-dots {
    gap: 15px;
}
.tab-slider.slider-custom-nav .slick-dots button {
    width: 25px;
    height: 5px;
}
.tab-slider .slick-dots {
    margin-top: 20px;
}
.sidebar-tabs-block .tabs-content {
    height: 735px;
}