@tailwind base;
@tailwind components;
@tailwind utilities;


/*Global*/
body {
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    color: #1e1e1e;
}
/*Build Form*/

.build-form {
    background-color: hsla(0, 0%, 94%, .88);
}

/**/
.image-slider, .image-slider .slick-list, .image-slider .slick-track {
    height: 712px;
}
.slider-custom-nav .slick-dots button {
    background: #1e1e1e;
    border: none;
    color: transparent;
    height: 14px;
    opacity: .15;
    width: 90px
}
.slider-custom-nav ul.slick-dots {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none
}
.slider-custom-nav .slick-dots .slick-active button {
    background: #f6841f;
    opacity: 1
}
.heading-bottom-border:after {
    background-color: #F6841F;
    content: "";
    display: block;
    height: 7px;
    margin-top: 5px;
    width: 73px;
}
.main-heading h1 {
    font-size: 132px;
    line-height: 150px;
    color: #1e1e1e;
    opacity: 3%;
}
.tabs-section .tab-title.active:after {
    content: "";
    background-color: #F6841F;
    width: 100%;
    height: 6px;
    display: block;
    margin-bottom: -1px;
}
.tabs-section .tab-title.active .tab-title-link {
    color:#F6841F;
}
.tab-slider.slider-custom-nav .slick-dots {
    gap: 15px;
}
.tab-slider.slider-custom-nav .slick-dots button {
    width: 25px;
    height: 5px;
}
.tab-slider .slick-dots {
    margin-top: 20px;
}
.accessories-col.active label.opacity-50, .accessories-col.active .price-col .opacity-50  {
    opacity: 1;
}
.form-checkbox {
    appearance: none;
    width: 1.75rem;
    height: 1.75rem;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer; 
}
.form-checkbox:checked {
    background-color: white;
    border-color: black;
    position: relative;
}
.form-checkbox:checked::before {
    content: '';
    position: absolute; 
    top: 2px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0.5rem;
    height: 1rem;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


@media only screen and (max-width: 767px){
    .slider-custom-nav .slick-dots button {
        width: 38px;
        height: 6px;
    }
    .heading-bottom-border:after {
        height: 3px;
        margin-top: 2px;
        width: 33px;
    }
    .image-slider, .image-slider .slick-list, .image-slider .slick-track {
        height: 285px;
    }    
    .slider-custom-nav ul.slick-dots {
        padding-top: 10px;
    }
    .form-checkbox, #qty {
        width: 24px;
        height: 24px;
    }
    #qty {
        font-size: 15px;
        line-height: 15px;
    }
    .form-checkbox:checked::before {
        width: 6px;
        height: 12px;
    }
}
@media only screen and (min-width: 768px) {
    .sidebar-tabs-block .tabs-content .tabs-scroll-content {
        height: 735px;
        scrollbar-width: none;
    }
}
@media only screen and (min-width:1440px) {
    .main-heading h1 {
        font-size: 154px;
        line-height: 180px;
    }
}